#Frontend

frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.vercel

frontend/.env*
!frontend/.env.example

#Backend

backend/venv/
backend/__pycache__/
backend/**/*.__pyc
backend/uploads/
backend/.env

#Editors

.vscode/
.idea/

#Os

.DS_Store
Thumbs.db

#Logs

*.log
